{% extends "base.html" %}

{% block content %}

<!-- If video is processing, display video is processing for {{ video.title }} -->
<div class="container">
    <div class="searchbar mt-4">
        <form class="d-flex my-2 my-lg-0" method="GET" action="{% url 'search' %}">
            <input class="form-control me-sm-2 border border-primary rounded-pill" type="text" name="search_query"
                placeholder="Search videos by title">
            <button class="form-inline btn btn-outline-primary my-2 my-sm-0 rounded-pill" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="video-container" style="width: 640px; height: 360px;">
                <video data-plyr='plyr' src="/media/{{ object.video_upload }}" style="object-fit: contain; background-color: black;"
                    controls data-setup='' type="video/mp4">
                </video>
            </div>
            <div style=" width:100%">
                <h5 class="mt-2">{{ object.title }}</h5>
                <h6><a class="text-decoration-none text-dark mt-5" href="{% url 'profile' object.creator.username %}">@{{ object.creator |title}}</a></h6>
            </div>
            <div class="card rounded-3 bg-light h-25 overflow-auto w-75">
                <div class="card-body">
                    <div class="d-flex justify-content-between card-text">
                        <p>{{object.view_count|format_view_count}} views &bull; {{ object.elapsed_time }}</p>
                        <p></p>
                    </div>
                    <div class="card-text">
                        <p>{{ object.description }}</p>
                    </div>
                </div>
            </div>
            <div class="edit-tools w-75">
                <div class="d-flex justify-content-between">
                    {% if is_creator %}
                    <a class="m-2 text-decoration-none text-white p-2 border bg-primary rounded-3"
                        href="{% url 'video-update' object.slug %}">Edit</a>
                    <a class="m-2 text-decoration-none text-white p-2 border bg-danger rounded-3"
                        href="{% url 'video-delete' object.slug %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h3>Recommended Videos</h3>
            <hr>
            <!-- <ul class="list-group">
                <li class="list-group-item">Video 1</li>
                <li class="list-group-item">Video 2</li>
                <li class="list-group-item">Video 3</li>
            </ul> -->
        </div>
    </div>
</div>

{% endblock content %}

