{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ms-4" href="/">
        <h5 class="text-danger">VideoPlayer <i class="fa fa-video text-dark"></i></h5>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'profile' user.username %}" class="nav-link">Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Videos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'video-create' %}">Upload Video</a>
                        <a class="dropdown-item" href="{% url 'dashboard' username=user.username %}">Dashboard</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <p class="nav-link ml-3 d-inline-flex">Hello {{request.user|title}}</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>




{% endblock content %}