{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <div class="card border border-secondary rounded-3 p-5">
                <div class="card-body">
                    <h3 class="text-center mb-4">Login</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <button class="btn btn-outline-primary btn-block w-100" type="submit">Sign in</button>
                            <p class="mt-4 pb-3">Need an Accont Click <a href="{% url 'signup' %}">Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}