{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-6">
            <div class="card border border-secondary rounded-3 p-2">
                <div class="card-body mb-4">
                    <h3 class="text-center mb-4">Sign Up</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <button class="btn btn-outline-primary btn-block w-100" type="submit">Sign in</button>
                            <p class="mt-4">Already Got an Account Click <a href="{% url 'login' %}">Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}